.footerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0 5%;
  
}

.footerNav ul{
  display: flex;
  align-items: center;
  
}

.footerNav ul li:hover{
  transition: 0.5s;
}

.footerNav ul li a{
  text-decoration: none;
  margin: 10px;
  color: rgba(17, 17, 17, 1);
}

.socialLinks-right:hover{
  transition: 0.5s;
}

.socialLinks-right a{
  margin: 15px;
}

.socialLinks-right a i{
  font-size: 1.5em;
  opacity: 0.9;
  color: rgba(17, 17, 17, 1);
}