.footerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-logo{
  font-size: 20px;
  line-height: 80px;
  font-weight: bold;
}

.footerNav-middle ul{
  display: flex;
  align-items: center;
}

.footerNav-middle ul li:hover{
  transition: 0.5s;
}

.footerNav-middle ul li a{
  text-decoration: none;
  margin: 10px;
}

.socialLinks-right:hover{
  transition: 0.5s;
}

.socialLinks-right a{
  margin: 15px;
}

.socialLinks-right a i{
  font-size: 1.5em;
  opacity: 0.9;
}