.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  background-color: #800080;
  padding: 1.3rem 10%;
  width: 100%;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo{
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  color: #F0F8FF;
  padding: 0 5%;
  
}

.navbar ul{
  display: flex;
}

.navbar ul li{
  margin-left: 30px;
}

.navbar ul li a{
  text-decoration: none;
  color: #F0F8FF;
  margin-left: 2.5rem;
  
}
.navbar ul li a:hover{
  transition: 0.5s;
}