* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  $primary-font: "Poppins", sans-serif;
  $font-size: 15px;
  $min-height: 100vh;
  $max-width: 100%;
  $line-height: 1.6;
  $font-weight: 300;
  $primary-font-style: normal;
  $primary-color: #333
}
  
.container {
  padding: 0 5%;
}


/* header section */
@import "_header";



  /* title section */

.title-section {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.title_section-left {
  flex: 0 0 50%;
}

.title_section-left h1 {
  color: #800080;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}

.title_section-left p {
  margin-bottom: 10px;
}

.title_section-right p {
  margin-right: 200px;
  margin-top: 30px;
}



  /* frame section */

.gallery{
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(32, auto);
  gap: 10px;
  margin-top: 50px;
}

.gallery img{
  width: 100%;
  height: auto;
}



  /* group section*/

.group-section {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  grid-template-rows: 1fr;
  margin-bottom: 150px;
  line-height: 30px;
}

.section_left{
  margin-right: 60px;
  font-weight: bold;
}

.service-list_middle{
  text-decoration: none;
}

.service-list_left{
  text-decoration: none;
}



  /* awards section */

.awards-section {
  display: grid;
  gap: 80px;
  
}
.awwwards {
  display: grid;
}

.awwwards_1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.awwwards_1 h2{
  grid-row: 1/2;
  grid-column: 1/2;
  font-weight: bolder;
}

.awwwards_1 h3{
  grid-row: 1/2;
  grid-column: 2/3;
  font-weight: bold;
}

.awwwards_1 h4{
  grid-row: 1/2;
  grid-column: 3/4;
  font-weight: bold;
}

.awwwards_1 h5 {
  grid-row: 1/2;
  grid-column: 4/5;
  font-weight: 500;
}

.awwwards_1 p{
  grid-row: 2/3;
  grid-column: 3/4;
}

.awwwards_2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.awwwards_2 h2{
  grid-row: 3/4;
  grid-column: 2/3;
  font-weight: bolder;
}

.awwwards_2 h3{
  grid-row: 3/4;
  grid-column: 3/4;
  font-weight: bold;
}

.awwwards_2 h4{
  grid-row: 3/4;
  grid-column: 4/5;
  font-weight: 500;
}

.awwwards_2 p{
  grid-row: 4/5;
  grid-column: 3/4;
}

.awards {
  display: grid;
}

.awards_1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.awards_1 h2{
  grid-row: 1/2;
  grid-column: 1/2;
  font-weight: bolder;
}

.awards_1 h3{
  grid-row: 1/2;
  grid-column: 2/3;
  font-weight: bold;
}

.awards_1 h4{
  grid-row: 1/2;
  grid-column: 3/4;
  font-weight: bold;
}

.awards_1 h5 {
  grid-row: 1/2;
  grid-column: 4/5;
  font-weight: 500;
}

.awards_1 p{
  grid-row: 2/3;
  grid-column: 3/4;
}

.awards_2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.awards_2 h2{
  grid-row: 3/4;
  grid-column: 2/3;
  font-weight: bolder;
}

.awards_2 h3{
  grid-row: 3/4;
  grid-column: 3/4;
  font-weight: bold;
}

.awards_2 h4{
  grid-row: 3/4;
  grid-column: 4/5;
  font-weight: 500;
}

.awards_2 p{
  grid-row: 4/5;
  grid-column: 3/4;
}


  /* footer section */

@import "_footer";




/* PROJECT DETAILS PAGE (project.html) */

.container {
  padding: 0 5%;
}

@import "_header";





/* hero section */

.hero-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.hero-section_left{
  margin: 45px;
  margin-top: 10px;
  line-height: 30px;
  
}
.hero-section_left h1{
  font-weight: bold;
  margin-left: 10.2px;
  margin-bottom: 25px;
}

.hero-section_left p{
  margin: 10px;
}
.hero-section_right{
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(6, 3fr);
  width: 100%;
  line-height: 50px;
  gap: 5px;
  
}
.hero-section_right h2{
  font-weight: bold;
}
  

/*image section*/

.image_section{
  margin-top: 30px;
  margin-left: 50px;
  
}
.top-image img{
  width: 100%;
  margin-bottom: 30px;
}

.middle-section_info p{
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 30px;
}

.bottom-images{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.bottom-images img{
  width: 100%;
}


@import "_footer";



/* CONTACT PAGE (contact.html) */

.container{
  padding: 0 5%;
}


@import "_header";

/* contact hero section */

.c_hero-section{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 40px;
}

.c_hero-section-left{
  margin: 60px;
  margin-top: 10px;
  line-height: 30px;
  
}

.c_hero-section-left h1{
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 25px;

}
.c_hero-section-left p{
  font-weight: 500;
}

.hero-info-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
 
}

.contact-inputs{
  width: 100%;
  height: 30px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid purple;
}

.contact-inputs:focus {
  border: 4px solid orchid;
}


.hero-info-right textarea{
  height: 60px;
  padding-top: 15px;
  border-radius: 5px;
}

.hero-info-right button{
  display: flex;
  align-items: center;
  padding: 10px 30px;
  font-size: 15px;
  color: blueviolet;
  margin-top: 20px;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;

}

.map_image{
  margin-top: 50px;
  
}
.map_image img{
  width: 100%;
  height: 50%;
}

