* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  min-height: 100vh;
  line-height: 1.6;
  font-weight: 300;
  font-style: normal;
}

.gallery img{
  width: 100px;
  height: 100px;
}

  /* header section */

header {
  height: 10vh;
  display: flex;
}
.main-nav {
  width: 70%;
  background-color: var(--primary-color);
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-nav ul {
  list-style: none;
  display: flex;
  text-decoration: none;
}
.sub-nav li a{
  text-decoration: none;
  padding-right: 2rem;
}


  /* title section */

.container {
  padding: 0 5%;
}
.title-section {
  display: flex;
  justify-content: space-between;
}
.title_section-left {
  flex: 0 0 50%;
  
}
.title_section-left h1 {
  color: rgb(47, 0, 255);
  margin-bottom: 10px;
}
.title_section-left p {
  margin-bottom: 10px;
}

.title_section-right p {
  margin-right: 200px;
  margin-top: 30px;
}


  /* frame section */

.gallery {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 30px;
}

  

  



  /* group */

.group-section {
  display: grid;
  grid-template-columns: 1fr 1 fr 1fr;
  grid-template-rows: 1fr;
}



  /* awards section */



  /* footer section */
  